@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+New&display=swap');
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css");

$primary: #876235;
$card-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;


@font-face {
    font-family: 'Sweet Sans Pro';
    src: url('../font/SweetSansPro-200.otf');
    font-weight: 200;
}

@font-face {
    font-family: 'Sweet Sans Pro';
    src: url('../font/SweetSansPro-300.otf');
    font-weight: 300;
}

@font-face {
    font-family: 'Sweet Sans Pro';
    src: url('../font/SweetSansPro-400.otf');
    font-weight: 400;
}

@font-face {
    font-family: 'Sweet Sans Pro';
    src: url('../font/SweetSansPro-500.otf');
    font-weight: 500;
}

@font-face {
    font-family: 'Sweet Sans Pro';
    src: url('../font/SweetSansPro-600.otf');
    font-weight: 600;
}

@font-face {
    font-family: 'Sweet Sans Pro';
    src: url('../font/SweetSansPro-700.otf');
    font-weight: 700;
}

@font-face {
    font-family: 'Sweet Sans Pro';
    src: url('../font/SweetSansPro-800.otf');
    font-weight: 800;
}


h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
span,
b,
small,
strong,
body,
button,
input,
optgroup,
select,
textarea {
    font-family: 'Sweet Sans Pro';

}

body {
    overflow-x: hidden !important;
}

a,
i,
.btn,
div {
    text-decoration: none !important;
    transition: all 0.3s ease-in-out !important;
}

textarea {
    outline: 2px solid transparent !important;
    box-shadow: none !important;
}

input,
.navbar-toggler,
button,
input {
    outline: 2px solid transparent !important;
    box-shadow: none !important;
}

body {
    scroll-behavior: smooth;
}

html {
    --scrollbarBG: #cfd8dc;
    --thumbBG: #90a4ae;
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-track {
    background: white;
}

::-webkit-scrollbar-thumb {
    background: $primary;
}


.animated {
    animation: up-down 2s ease-in-out infinite alternate-reverse both;
}

@keyframes up-down {
    0% {
        transform: translateY(10px);
    }

    100% {
        transform: translateY(-10px);
    }
}