@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+New&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css");

$primary: #876235;
$card-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;

@font-face {
  font-family: "Sweet Sans Pro";
  src: url("../font/SweetSansPro-200.otf");
  font-weight: 200;
}

@font-face {
  font-family: "Sweet Sans Pro";
  src: url("../font/SweetSansPro-300.otf");
  font-weight: 300;
}

@font-face {
  font-family: "Sweet Sans Pro";
  src: url("../font/SweetSansPro-400.otf");
  font-weight: 400;
}

@font-face {
  font-family: "Sweet Sans Pro";
  src: url("../font/SweetSansPro-500.otf");
  font-weight: 500;
}

@font-face {
  font-family: "Sweet Sans Pro";
  src: url("../font/SweetSansPro-600.otf");
  font-weight: 600;
}

@font-face {
  font-family: "Sweet Sans Pro";
  src: url("../font/SweetSansPro-700.otf");
  font-weight: 700;
}

@font-face {
  font-family: "Sweet Sans Pro";
  src: url("../font/SweetSansPro-800.otf");
  font-weight: 800;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
span,
b,
small,
strong,
body,
button,
input,
optgroup,
select,
textarea {
  font-family: "Sweet Sans Pro";
}

body {
  overflow-x: hidden !important;
}

a,
i,
.btn,
div {
  text-decoration: none !important;
  transition: all 0.3s ease-in-out !important;
}

textarea {
  outline: 2px solid transparent !important;
  box-shadow: none !important;
}

input,
.navbar-toggler,
button,
input {
  outline: 2px solid transparent !important;
  box-shadow: none !important;
}

body {
  scroll-behavior: smooth;
}

html {
  --scrollbarBG: #cfd8dc;
  --thumbBG: #90a4ae;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: white;
}

::-webkit-scrollbar-thumb {
  background: $primary;
}

.animated {
  animation: up-down 2s ease-in-out infinite alternate-reverse both;
}

@keyframes up-down {
  0% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(-10px);
  }
}

.btn-light-rounded {
  width: 100% !important;
  max-width: 318px !important;
  height: 42px !important;
  background: #ffffff !important;
  border-radius: 40px !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  border: none !important;
  font-family: "work Sans" !important;
  font-style: normal !important;
  font-weight: 500 !important;
  font-size: 14px !important;
  text-align: center !important;
  letter-spacing: 0.05em !important;
  color: #876235 !important;
}

.btn-light-rounded:hover {
  color: #fff !important;
  background: $primary !important;
}

.hero-section {
  background: #f2f0ed;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  padding-right: 6px;
  overflow: hidden;

  .hero-body {
    max-width: 1280px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;

    .side-content {
      width: 100%;
      max-width: 452px;
      background: #f2f0ed;
      height: 100vh;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;

      .inner-content {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        position: relative;
        z-index: 999;

        .logo {
          width: 238px;
          margin-bottom: 45px;
        }
      }

      .slider-section {
        width: 100%;
        max-width: 284px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        z-index: 3;

        h4 {
          font-family: "work Sans";
          font-style: normal;
          font-weight: 500;
          font-size: 15px;
          line-height: 180%;
          text-align: center;
          color: #876235;
          margin-bottom: 15px;
        }

        #owl-slider-one {
          .item {
            width: 100%;
            height: 392px;
            overflow: hidden;
            border-radius: 10px;

            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }

          .owl-dots {
            margin-top: 10px;
            display: flex;
            justify-content: center;
            gap: 6px;
          }

          .owl-dot span {
            height: 8px;
            width: 8px;
            background-color: #ababab;
            border-radius: 100%;
            margin: 0px;
            transition: background 0.3s;
          }

          .owl-dot.active span {
            background-image: url("../images/moon_pagenation.png");
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
          }
        }
      }
    }
  }
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;

  .main-frame {
    padding-bottom: 200px;
    width: 100%;
    max-width: 375px;
    margin: 0px auto;
    overflow: hidden;
    background: #f2f0ed;
    border-left: 1px solid red;
    border-right: 1px solid red;
  }
}

.header {
  padding: 8px 22px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  .logo {
    height: 43px;
  }
  .nav-link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    span {
      font-family: "Sweet Sans Pro";
      font-style: normal;
      font-weight: 400;
      font-size: 9px;
      line-height: 13px;
      text-align: center;
      letter-spacing: -0.06em;
      color: #876235;
    }
  }
}
.top-bar {
  width: 100%;
  min-height: 38px;
  padding: 5px;
  filter: drop-shadow(0px 2px 5px rgba(0, 0, 0, 0.1));
  display: flex;
  justify-content: center; /* Rectangle 79 */
  background: #ebd7aa;

  align-items: center;
  span {
    font-family: "Zen Kaku Gothic New";
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 14px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #876235;
  }
}

.main-banner {
  width: 100%;
  height: 600px;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.pop-up-section {
  width: 100%;
  height: 49px;
  background: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  span {
    display: flex;
    align-items: center;
    gap: 7px;
    font-family: "work Sans";
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 15px;
    text-align: center;
    color: #876235;
  }
}
.home-collection-head {
  width: 100%;
  height: 120px;
  background-image: url(../images/moon-bg.png);
  background-position: top center;
  background-size: 100%;
  background-repeat: no-repeat;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding: 10px;
  span {
    font-family: "work Sans";
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 29px;
    text-align: center;
    color: #876235;
  }
}

.advance-order-period {
  width: 100%;
  min-height: 100px;
  background: url(../images/advance-order-period-bg.png);
  padding: 17px 15px 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h5 {
    margin-bottom: 7px;
    font-family: "Zen Kaku Gothic New";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0.05em;
    color: #876235;
  }
  h6 {
    font-family: "Zen Kaku Gothic New";
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    line-height: 100%;
    text-align: center;
    letter-spacing: 0.05em;
    margin-bottom: 0px;
    color: #876235;
  }
  .timer {
    display: flex;
    align-items: center;
    gap: 8px;
    h3 {
      font-family: "Noto Sans JP";
      font-style: normal;
      font-weight: 500;
      font-size: 28.9801px;
      line-height: 35px;
      text-align: center;
      color: #876235;
      position: relative;
      display: flex;
      align-items: center;
      margin-bottom: 5px;
      span {
        font-family: "Noto Sans JP";
        font-style: normal;
        font-weight: 500;
        font-size: 10.4031px;
        text-align: center;
        color: #876235;
        transform: rotate(90deg);
      }
      sub {
        font-family: "Noto Sans JP";
        font-style: normal;
        font-weight: 500;
        font-size: 10.4031px;
        line-height: 12px;
        text-align: center;
        color: #876235;
      }
    }
  }
  .count-down {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 2px;
    margin-bottom: 5px;
    p {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-family: "Noto Sans JP";
      font-style: normal;
      font-weight: 400;
      font-size: 26.5871px;
      line-height: 100%;
      text-align: center;
      margin-bottom: 0px;
      color: #876235;
      span {
        font-family: "work Sans";
        font-style: normal;
        font-size: 8px;
        letter-spacing: 0px;
        line-height: 21px;
        text-align: center;
        color: #876235;
      }
    }
  }
}

.banner-2 {
  width: 100%;
  img {
    width: 100%;
  }
}

.content-2 {
  padding: 30px 20px;
  p {
    font-family: "Zen Kaku Gothic New";
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 200%;
    text-align: center;
    letter-spacing: 0.08em;
    color: #876235;
  }
}

.collections {
  padding: 30px 30px 60px;
  .collection-card-1 {
    width: 100%;
    height: auto;
    position: relative;
    .atukikun {
      position: absolute;
      bottom: 0;
      right: 0;
      z-index: 2;
    }
    .bg-layer {
      position: absolute;
      width: 275.43px;
      left: -25px;
      top: 0px;
      height: 375px;
      z-index: 0;
      background: #c7dce5;
      border-radius: 22.5759px;
      transform: rotate(-14.63deg);
    }
    .main-banner {
      width: calc(100% - 40px);
      border-radius: 22px;
      height: 375px;
      border-radius: 22px;
      overflow: hidden;
      z-index: 1;
      position: relative;
      margin-bottom: 12px;
    }
    .detail {
      position: absolute;
      z-index: 4;
      right: 0;
      top: 100px;
      p {
        width: 112px;
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 500;
        font-size: 11.6332px;
        line-height: 15px;
        display: flex;
        align-items: center;
        color: #876235;
      }
    }
    .description {
      display: flex;
      align-items: center;
      gap: 5px;
      position: relative;
      z-index: 3;
      padding-left: 20px;
      .arrow {
        width: 24px;
      }
      .amount {
        display: flex;
        flex-direction: column;
        b {
          font-family: "work Sans";
          font-style: normal;
          font-weight: 500;
          font-size: 11px;
          line-height: 15px;
          text-align: center;
          color: #876235;
        }
        span {
          font-family: "work Sans";
          font-size: 11px;
          line-height: 13px;
          color: #876235;
        }
      }
    }
  }
}

.collections {
  padding: 30px 30px 60px;
  .collection-card-2 {
    width: 100%;
    height: auto;
    position: relative;
    .atukikun {
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: 2;
    }
    .bg-layer {
      position: absolute;
      width: 275.43px;
      height: 374.76px;
      top: 0;
      right: -25px;
      background: #ebd7aa;
      border-radius: 22.5759px;
      transform: matrix(-0.95, -0.3, -0.3, 0.95, 0, 0);
    }
    .main-banner {
      margin-left: 40px;
      width: calc(100% - 40px);
      border-radius: 22px;
      height: 375px;
      border-radius: 22px;
      overflow: hidden;
      z-index: 1;
      position: relative;
      margin-bottom: 12px;
    }
    .detail {
      position: absolute;
      z-index: 4;
      left: 0;
      top: 100px;
      p {
        width: 112px;
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 500;
        font-size: 11.6332px;
        line-height: 15px;
        display: flex;
        align-items: center;
        color: #876235;
      }
      img {
        margin-left: 20px;
        margin-bottom: 10px;
      }
    }
    .description {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: 5px;
      position: relative;
      z-index: 3;
      padding-left: 20px;
      .arrow {
        width: 24px;
      }
      .amount {
        display: flex;
        flex-direction: column;
        b {
          font-family: "work Sans";
          font-style: normal;
          font-weight: 500;
          font-size: 11px;
          line-height: 15px;
          text-align: center;
          color: #876235;
        }
        span {
          font-family: "work Sans";
          font-size: 11px;
          line-height: 13px;
          color: #876235;
        }
      }
    }
  }
}

.collections2 {
  padding: 30px 10px 60px;
  .atsuki-kun {
    width: 100%;
    position: relative;
    img {
      width: 100%;
    }
    .description {
      display: flex;
      align-items: center;
      gap: 5px;
      .arrow {
        width: 24px;
      }
      .amount {
        display: flex;
        flex-direction: column;
        b {
          font-family: "work Sans";
          font-style: normal;
          font-weight: 500;
          font-size: 11px;
          line-height: 15px;
          text-align: center;
          color: #876235;
        }
        span {
          font-family: "work Sans";
          font-size: 11px;
          line-height: 13px;
          color: #876235;
        }
      }
    }
    .d1 {
      position: absolute;
      top: 205px;
      left: 10px;
      z-index: 9;
    }
    .d2 {
      position: absolute;
      top: 140px;
      right: 0px;
      z-index: 9;
    }
    .d3 {
      position: absolute;
      bottom: 40px;
      right: 10px;
      z-index: 9;
    }
  }
}

.all-item {
  padding: 20px 0px;
  h3 {
    padding: 0px 12px;
    font-family: "work Sans";
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 33px;
    letter-spacing: 0.1em;
    color: #876235;
  }
  .item-card {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    .banner {
      width: 100%;
      height: 170px;
      border-radius: 8px;
      overflow: hidden;
      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
    a {
      display: flex;
      align-items: center;
      gap: 5px;
      font-family: "work Sans";
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      line-height: 180%;
      text-align: center;
      color: #876235;
      img {
        width: 22px;
      }
    }
  }
  #owl-slider-two {
    .owl-dots {
      margin-top: 25px;
      display: flex;
      justify-content: center;
      gap: 6px;
    }

    .owl-dot span {
      height: 8px;
      width: 8px;
      background-color: #ababab;
      border-radius: 100%;
      margin: 0px;
      transition: background 0.3s;
    }

    .owl-dot.active span {
      background-image: url("../images/moon_pagenation.png");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }
  }
  .owl-nav-custom {
    width: 100%;
    padding: 0px 29px;
    display: flex;
    justify-content: space-between;
    span {
      margin-top: -20px;
      cursor: pointer;
      position: relative;
      z-index: 9;
    }
  }
}
