@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+New&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css");

$primary: #876235;
$card-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;

@font-face {
  font-family: "Sweet Sans Pro";
  src: url("../font/SweetSansPro-200.otf");
  font-weight: 200;
}

@font-face {
  font-family: "Sweet Sans Pro";
  src: url("../font/SweetSansPro-300.otf");
  font-weight: 300;
}

@font-face {
  font-family: "Sweet Sans Pro";
  src: url("../font/SweetSansPro-400.otf");
  font-weight: 400;
}

@font-face {
  font-family: "Sweet Sans Pro";
  src: url("../font/SweetSansPro-500.otf");
  font-weight: 500;
}

@font-face {
  font-family: "Sweet Sans Pro";
  src: url("../font/SweetSansPro-600.otf");
  font-weight: 600;
}

@font-face {
  font-family: "Sweet Sans Pro";
  src: url("../font/SweetSansPro-700.otf");
  font-weight: 700;
}

@font-face {
  font-family: "Sweet Sans Pro";
  src: url("../font/SweetSansPro-800.otf");
  font-weight: 800;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
span,
b,
small,
strong,
body,
button,
input,
optgroup,
select,
textarea {
  font-family: "Sweet Sans Pro";
}

body {
  overflow-x: hidden !important;
}

a,
i,
.btn,
div {
  text-decoration: none !important;
  transition: all 0.3s ease-in-out !important;
}

textarea {
  outline: 2px solid transparent !important;
  box-shadow: none !important;
}

input,
.navbar-toggler,
button,
input {
  outline: 2px solid transparent !important;
  box-shadow: none !important;
}

body {
  scroll-behavior: smooth;
}

html {
  --scrollbarBG: #cfd8dc;
  --thumbBG: #90a4ae;
}

::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}

::-webkit-scrollbar-track {
  background: white;
}

::-webkit-scrollbar-thumb {
  background: #8c8c8c;
}

.animated {
  animation: up-down 2s ease-in-out infinite alternate-reverse both;
}

@keyframes up-down {
  0% {
    transform: translateY(5px);
  }

  100% {
    transform: translateY(-5px);
  }
}

.btn-light-rounded {
  width: 100% !important;
  max-width: 318px !important;
  height: 42px !important;
  background: #ffffff !important;
  border-radius: 40px !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  border: none !important;
  font-family: "Work Sans" !important;
  font-style: normal !important;
  font-weight: 500 !important;
  font-size: 14px !important;
  text-align: center !important;
  letter-spacing: 0.05em !important;
  color: #876235 !important;
}

.btn-light-rounded:hover {
  color: #fff !important;
  background: $primary !important;
}

.hero-section {
  background: #f2f0ed;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  padding-right: 3px;
  overflow: hidden;

  .hero-body {
    max-width: 1280px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    .side-content {
      width: 100%;
      max-width: 452px;
      background: #f2f0ed;
      height: 100vh;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;

      .inner-content {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        position: relative;
        z-index: 999;

        .logo {
          width: 238px;
          margin-bottom: 45px;
        }
      }

      .slider-section {
        width: 100%;
        max-width: 284px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        z-index: 3;

        h4 {
          font-family: "Work Sans";
          font-style: normal;
          font-weight: 500;
          font-size: 15px;
          line-height: 180%;
          text-align: center;
          color: #876235;
          margin-bottom: 15px;
        }

        #owl-slider-one {
          .item {
            width: 100%;
            height: 392px;
            overflow: hidden;
            border-radius: 10px;

            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }

          .owl-dots {
            margin-top: 10px;
            display: flex;
            justify-content: center;
            gap: 6px;
          }

          .owl-dot span {
            height: 8px;
            width: 8px;
            background-color: #ababab;
            border-radius: 100%;
            margin: 0px;
            transition: background 0.3s;
          }

          .owl-dot.active span {
            background-image: url("../images/moon_pagenation.png");
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
          }
        }
      }
    }
  }
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;

  .main-frame {
    width: 100%;
    padding-top: 100px;
    max-width: 375px;
    margin: 0px auto;
    overflow: hidden;
    background: #f2f0ed;
    position: relative;
    box-shadow: $card-shadow;
  }
}

.header {
  position: relative;
  z-index: 99999999999;
  padding: 8px 22px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  .logo {
    height: 43px;
  }
  .nav-link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    span {
      font-family: "Sweet Sans Pro";
      font-style: normal;
      font-weight: 400;
      font-size: 9px;
      line-height: 13px;
      text-align: center;
      letter-spacing: -0.06em;
      color: #876235;
    }
  }
}
.top-bar {
  width: 100%;
  min-height: 38px;
  padding: 5px;
  filter: drop-shadow(0px 2px 5px rgba(0, 0, 0, 0.1));
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ebd7aa;

  position: sticky; /* stays at top until hidden */
  top: 0;
  z-index: 999;

  transition:
    transform 0.4s ease,
    opacity 0.4s ease;

  span {
    font-family: "Zen Kaku Gothic New";
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 14px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #876235;
  }
}

/* hidden state */
.top-bar.hide {
  transform: translateY(-100%);
  opacity: 0;
}
.main-banner {
  width: 100%;
  height: 600px;
  overflow: hidden;
  position: relative;

  iframe {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.pop-up-section {
  width: 100%;
  height: 49px;
  background: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  span {
    cursor: pointer;
    transition: all 0.3s ease-in-out !important;
    display: flex;
    align-items: center;
    gap: 7px;
    font-family: "Work Sans";
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 15px;
    text-align: center;
    color: #876235;
  }
}
.home-collection-head {
  width: 100%;
  height: 120px;
  background-image: url(../images/moon-bg.png);
  background-position: top center;
  background-size: 100%;
  background-repeat: no-repeat;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding: 10px;
  span {
    font-family: "Work Sans";
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 29px;
    text-align: center;
    color: #876235;
  }
}

.advance-order-period {
  width: 100%;
  min-height: 100px;
  background: url(../images/advance-order-period-bg.png);
  padding: 17px 15px 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h5 {
    margin-bottom: 7px;
    font-family: "Zen Kaku Gothic New";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0.05em;
    color: #876235;
  }
  h6 {
    font-family: "Zen Kaku Gothic New";
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    line-height: 100%;
    text-align: center;
    letter-spacing: 0.05em;
    margin-bottom: 0px;
    color: #876235;
  }
  .timer {
    display: flex;
    align-items: center;
    gap: 8px;
    h3 {
      font-family: "Noto Sans JP";
      font-style: normal;
      font-weight: 500;
      font-size: 28.9801px;
      line-height: 35px;
      text-align: center;
      color: #876235;
      position: relative;
      display: flex;
      align-items: center;
      margin-bottom: 5px;
      span {
        font-family: "Noto Sans JP";
        font-style: normal;
        font-weight: 500;
        font-size: 10.4031px;
        text-align: center;
        color: #876235;
        transform: rotate(90deg);
      }
      sub {
        font-family: "Noto Sans JP";
        font-style: normal;
        font-weight: 500;
        font-size: 10.4031px;
        line-height: 12px;
        text-align: center;
        color: #876235;
      }
    }
  }
  .count-down {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 2px;
    margin-bottom: 5px;
    p {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-family: "Noto Sans JP";
      font-style: normal;
      font-weight: 400;
      font-size: 26.5871px;
      line-height: 100%;
      text-align: center;
      margin-bottom: 0px;
      color: #876235;
      span {
        font-family: "Work Sans";
        font-style: normal;
        font-size: 8px;
        letter-spacing: 0px;
        line-height: 21px;
        text-align: center;
        color: #876235;
      }
    }
  }
}

.banner-2 {
  width: 100%;
  img {
    width: 100%;
  }
}

.content-2 {
  padding: 30px 20px;
  p {
    font-family: "Zen Kaku Gothic New";
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 200%;
    text-align: center;
    letter-spacing: 0.08em;
    color: #876235;
  }
}

.collections {
  padding: 30px 30px 60px;
  .collection-card-1 {
    width: 100%;
    height: auto;
    position: relative;
    .atukikun {
      position: absolute;
      bottom: 0;
      right: 0;
      z-index: 2;
    }
    .bg-layer {
      position: absolute;
      width: 275.43px;
      left: -25px;
      top: 0px;
      height: 375px;
      z-index: 0;
      background: #c7dce5;
      border-radius: 22.5759px;
      transform: rotate(-14.63deg);
    }
    .main-banner {
      width: calc(100% - 40px);
      border-radius: 22px;
      height: 375px;
      border-radius: 22px;
      overflow: hidden;
      z-index: 1;
      position: relative;
      margin-bottom: 12px;
    }
    .detail {
      position: absolute;
      z-index: 4;
      right: 0;
      top: 100px;
      p {
        width: 112px;
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 500;
        font-size: 11.6332px;
        line-height: 15px;
        display: flex;
        align-items: center;
        color: #876235;
      }
    }
    .description {
      display: flex;
      align-items: center;
      gap: 5px;
      position: relative;
      z-index: 3;
      padding-left: 20px;
      width: fit-content;
      .arrow {
        width: 24px;
      }
      .amount {
        display: flex;
        flex-direction: column;
        b {
          font-family: "Work Sans";
          font-style: normal;
          font-weight: 500;
          font-size: 11px;
          line-height: 15px;
          text-align: center;
          color: #876235;
        }
        span {
          font-family: "Work Sans";
          font-size: 11px;
          line-height: 13px;
          color: #876235;
        }
      }
    }
  }
}

.collections {
  padding: 30px 30px 60px;
  .collection-card-2 {
    width: 100%;
    height: auto;
    position: relative;
    .atukikun {
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: 2;
    }
    .bg-layer {
      position: absolute;
      width: 275.43px;
      height: 374.76px;
      top: 0;
      right: -25px;
      background: #ebd7aa;
      border-radius: 22.5759px;
      transform: matrix(-0.95, -0.3, -0.3, 0.95, 0, 0);
    }
    .main-banner {
      margin-left: 40px;
      width: calc(100% - 40px);
      border-radius: 22px;
      height: 375px;
      border-radius: 22px;
      overflow: hidden;
      z-index: 1;
      position: relative;
      margin-bottom: 12px;
    }
    .detail {
      position: absolute;
      z-index: 4;
      left: 0;
      top: 100px;
      p {
        width: 112px;
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 500;
        font-size: 11.6332px;
        line-height: 15px;
        display: flex;
        align-items: center;
        color: #876235;
      }
      img {
        margin-left: 20px;
        margin-bottom: 10px;
      }
    }
    .description {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: 5px;
      position: relative;
      z-index: 3;
      padding-left: 20px;
      .arrow {
        width: 24px;
      }
      .amount {
        display: flex;
        flex-direction: column;
        b {
          font-family: "Work Sans";
          font-style: normal;
          font-weight: 500;
          font-size: 11px;
          line-height: 15px;
          text-align: center;
          color: #876235;
        }
        span {
          font-family: "Work Sans";
          font-size: 11px;
          line-height: 13px;
          color: #876235;
        }
      }
    }
  }
}

.collections2 {
  padding: 30px 10px 60px;
  .atsuki-kun {
    width: 100%;
    position: relative;
    .bear {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }

    /* images stacked on top of each other */
    .bear img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      width: 170px;
      opacity: 0;
      animation: bearSwitch 2s infinite;
    }

    /* front image shows first */
    .bear .front {
      animation-delay: 0s;
    }

    /* back image shows after 1 second */
    .bear .back {
      animation-delay: 1s;
    }

    @keyframes bearSwitch {
      0% {
        opacity: 0;
      }
      10% {
        opacity: 1;
      }
      40% {
        opacity: 1;
      }
      50% {
        opacity: 0;
      }
      100% {
        opacity: 0;
      }
    }
    img {
      width: 100%;
    }
    .description {
      display: flex;
      align-items: center;
      gap: 5px;
      .arrow {
        width: 24px;
      }
      .amount {
        display: flex;
        flex-direction: column;
        b {
          font-family: "Work Sans";
          font-style: normal;
          font-weight: 500;
          font-size: 11px;
          line-height: 15px;
          text-align: center;
          color: #876235;
        }
        span {
          font-family: "Work Sans";
          font-size: 11px;
          line-height: 13px;
          color: #876235;
        }
      }
    }
    .d1 {
      position: absolute;
      top: 205px;
      left: 10px;
      z-index: 9;
    }
    .d2 {
      position: absolute;
      top: 140px;
      right: 0px;
      z-index: 9;
    }
    .d3 {
      position: absolute;
      bottom: 40px;
      right: 10px;
      z-index: 9;
    }
  }
}

.all-item {
  padding: 20px 0px 100px;
  h3 {
    padding: 0px 12px;
    font-family: "Work Sans";
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 33px;
    color: #876235;
  }
  .item-card {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    .banner {
      width: 100%;
      height: 170px;
      border-radius: 8px;
      overflow: hidden;
      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
    a {
      display: flex;
      align-items: center;
      gap: 5px;
      font-family: "Work Sans";
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      line-height: 180%;
      text-align: center;
      color: #876235;
      img {
        width: 22px;
      }
    }
  }
  .slider-wrapper {
    #owl-slider-two {
      .owl-dots {
        margin-top: 25px;
        display: flex;
        justify-content: center;
        gap: 6px;
      }

      .owl-dot span {
        height: 8px;
        width: 8px;
        background-color: #ababab;
        border-radius: 100%;
        margin: 0px;
        transition: background 0.3s;
      }

      .owl-dot.active span {
        background-image: url("../images/moon_pagenation.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
      }
    }
    .owl-nav-custom {
      width: 100%;
      padding: 0px 30px;
      display: flex;
      justify-content: space-between;
      span {
        margin-top: -20px;
        cursor: pointer;
        position: relative;
        z-index: 9;
      }
    }
  }
}

.pre-order-benefits {
  background-image: url(../images/amoon_home_moon.png);
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 600px;
  padding: 75px 0px 90px;
  .heading-section {
    padding: 0px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    h6 {
      font-family: "Zen Kaku Gothic New";
      font-style: normal;
      font-weight: 500;
      font-size: 13px;
      line-height: 19px;
      text-align: center;
      color: #876235;
      margin-bottom: 3px;
    }
    h2 {
      font-family: "Work Sans";
      font-style: normal;
      font-weight: 500;
      font-size: 37px;
      letter-spacing: -2px;
      line-height: 100%;
      text-align: center;
      color: #876235;
      margin-bottom: 6px;
    }
    h4 {
      font-family: "Work Sans";
      font-style: normal;
      font-weight: 500;
      font-size: 24px;
      letter-spacing: -2px;
      line-height: 100%;
      text-align: center;
      color: #876235;
      margin-bottom: 14px;
    }

    .timer {
      display: flex;
      align-items: center;
      gap: 8px;
      h3 {
        font-family: "Noto Sans JP";
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 35px;
        text-align: center;
        color: #876235;
        position: relative;
        display: flex;
        align-items: center;
        margin-bottom: 5px;
        span {
          font-family: "Noto Sans JP";
          font-style: normal;
          font-weight: 500;
          font-size: 10.4031px;
          text-align: center;
          color: #876235;
          transform: rotate(90deg);
        }
        sub {
          font-family: "Noto Sans JP";
          font-style: normal;
          font-weight: 500;
          font-size: 10.4031px;
          line-height: 12px;
          text-align: center;
          color: #876235;
        }
      }
    }
    p {
      font-family: "Zen Kaku Gothic New";
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 21px;
      text-align: center;
      color: #876235;
      margin-bottom: 0px;
    }
  }

  .benefits-card {
    width: 100%;
    height: 320px;
    border-radius: 4px;
    background: #fff;
    padding: 30px 32px 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .heading {
      width: 100%;
      height: 42px;
      background: #cedbe1;
      border-radius: 4px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: "Zen Kaku Gothic New";
      font-style: normal;
      font-weight: 700;
      font-size: 12px;
      line-height: 100%;
      text-align: center;
      letter-spacing: 0.05em;
      color: #876235;
      margin-bottom: 20px;
    }
    h3 {
      font-family: "Zen Kaku Gothic New";
      font-style: normal;
      font-weight: 700;
      font-size: 13px;
      line-height: 152%;
      text-align: center;
      letter-spacing: 0.05em;
      color: #876235;
      margin-bottom: 12px;
    }
    .banner {
      width: 111px;
      height: 144px;
      margin-bottom: 12px;
      background: #d9d9d9;
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    p {
      font-family: "Zen Kaku Gothic New";
      font-style: normal;
      font-weight: 700;
      font-size: 9px;
      line-height: 152%;
      text-align: center;
      letter-spacing: 0.05em;
      color: #876235;
      margin-bottom: 0px;
    }
  }
  .slider-wrapper {
    margin-top: 45px;
    #owl-slider-3 {
      .owl-item {
        height: 350px;
        padding: 15px 0px;
      }
      .owl-item.active.center {
        .benefits-card {
          height: 350px;
          margin-top: -15px;
        }
      }
      .owl-dots {
        margin-top: 25px;
        display: flex;
        justify-content: center;
        gap: 6px;
      }

      .owl-dot span {
        height: 8px;
        width: 8px;
        background-color: #ababab;
        border-radius: 100%;
        margin: 0px;
        transition: background 0.3s;
      }

      .owl-dot.active span {
        background: #ab6e6e;
      }
    }
    .owl-nav-custom {
      width: 100%;
      padding: 0px 30px;
      display: flex;
      justify-content: space-between;
      span {
        margin-top: -20px;
        cursor: pointer;
        position: relative;
        z-index: 9;
      }
    }
  }
  .slider-wrapper {
    margin-top: 45px;
    #owl-slider-4 {
      .owl-dots {
        margin-top: 25px;
        display: flex;
        justify-content: center;
        gap: 6px;
      }

      .owl-dot span {
        height: 8px;
        width: 8px;
        background-color: #ababab;
        border-radius: 100%;
        margin: 0px;
        transition: background 0.3s;
      }

      .owl-dot.active span {
        background: #ab6e6e;
      }
    }
    .owl-nav-custom {
      width: 100%;
      padding: 0px 30px;
      display: flex;
      justify-content: space-between;
      span {
        margin-top: -20px;
        cursor: pointer;
        position: relative;
        z-index: 9;
      }
    }
  }

  .limited-set-card {
    width: 100%;
    height: 550px;
    border-radius: 4px;
    background: #fff;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    .banner {
      width: 100%;
      height: 252px;
      position: relative;
      .items {
        position: absolute;
        width: 59px;
        top: 10px;
        right: 10px;
        background: #fff;
        border: 1px solid #ffffff;
        border-radius: 2px;
        padding: 1px;
        z-index: 9;
        .tag {
          height: 20px;
          background: #cedbe0;
          width: 100%;
          font-family: "Work Sans";
          font-style: normal;
          font-weight: 500;
          border-radius: 2px 2px 0px 0px;
          font-size: 10px;
          line-height: 13px;
          display: flex;
          justify-content: center;
          align-items: center;
          text-align: center;
          color: #876235;
        }
        .tag2 {
          height: 20px;
          background: #fff;
          width: 100%;
          font-family: "Work Sans";
          font-style: normal;
          font-weight: 500;
          border-radius: 2px 2px 0px 0px;
          font-size: 10px;
          line-height: 13px;
          display: flex;
          justify-content: center;
          align-items: center;
          text-align: center;
          color: #876235;
        }
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .details {
      padding: 24px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      h4 {
        font-family: "Work Sans";
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 100%;
        text-align: center;
        letter-spacing: 0.05em;
        color: #876235;
      }
      p {
        font-family: "Zen Kaku Gothic New";
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 150%;
        letter-spacing: -1px;
        text-align: center;
        color: #2a2a2a;
        margin-bottom: 14px;
      }
      .set-cards-row {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        gap: 5px;
        margin-bottom: 30px;
        .set-card {
          width: 25%;
          height: 82.33px;
          background: #ffffff;
          opacity: 0.8;
          box-shadow: 0px 1.17621px 7.05727px rgba(0, 0, 0, 0.25);
          border-radius: 2.35242px;
          padding: 5px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 6px;
          .image {
            width: 29.41px;
            height: 36.46px;
            background: #d9d9d9;
            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
          span {
            font-family: "Zen Kaku Gothic New";
            font-style: normal;
            font-weight: 700;
            font-size: 10.5859px;
            line-height: 120%;
            text-align: center;
            letter-spacing: -0.1em;
            color: #2a2a2a;
          }
        }
      }
    }
  }
}

.price-btn {
  width: 100%;
  height: 50px;
  background: #ab6e6e;
  border-radius: 55px;
  padding: 5px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  span {
    font-family: "Work Sans";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    letter-spacing: 0.15em;
    color: #ffffff;
    margin-bottom: 0px;
    small {
      font-size: 10px;
    }
  }
  i {
    color: #fff;
  }
}

.price-btn:hover {
  background: #ebd7aa;
  span,
  small,
  i {
    color: $primary;
  }
}

.room-wear {
  padding: 100px 0px 90px;
}

.room-wear {
  padding: 100px 0px 90px;
  position: relative;
  .parker {
    position: absolute;
    top: 45px;
    right: 45px;
    width: 68px;
  }
  h3 {
    padding: 0px 12px;
    font-family: "Work Sans";
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 33px;
    color: #876235;
  }
  .item-card {
    width: 100%;
    gap: 8px;
    .banner {
      width: 100%;
      height: 310px;
      border-radius: 8px 8px 0px 0px;
      overflow: hidden;
      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
    .details {
      padding: 9px;
      h4 {
        margin-bottom: 0px;
        font-family: "Work Sans";
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 180%;
        color: #876235;
      }
      h5 {
        font-family: "Work Sans";
        font-style: normal;
        font-weight: 500;
        margin-bottom: 10px;
        font-size: 15px;
        line-height: 180%;
        color: #876235;
        small {
          font-size: 11px;
        }
      }
      h6 {
        display: flex;
        align-items: center;
        gap: 6px;
        font-family: "Work Sans";
        font-style: normal;
        font-weight: 500;
        font-size: 11px;
        line-height: 180%;
        text-align: center;
        color: #876235;
        span {
          width: 16px;
          height: 16px;
          border-radius: 100px;
        }
      }
      p {
        font-family: "Noto Sans JP";
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 21px;
        color: #876235;
        margin-bottom: 12px;
      }
      .btn-primary {
        width: 100%;
        height: 29px;
        background: #ab6e6e;
        border-radius: 40px;
        padding: 5px 16px;
        display: flex;
        align-items: center;
        border: none;
        outline: none;
        gap: 32px;
        span {
          font-family: "Zen Kaku Gothic New";
          font-style: normal;
          font-weight: 700;
          font-size: 11px;
          line-height: 21px;
          color: #ffffff;
          flex: none;
          order: 0;
          flex-grow: 0;
        }
      }
    }
  }
  .slider-wrapper {
    #owl-slider-5 {
      .owl-dots {
        margin-top: 25px;
        display: flex;
        justify-content: center;
        gap: 6px;
      }

      .owl-dot span {
        height: 8px;
        width: 8px;
        background-color: #ababab;
        border-radius: 100%;
        margin: 0px;
        transition: background 0.3s;
      }

      .owl-dot.active span {
        background-image: url("../images/moon_pagenation.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
      }
    }
    .owl-nav-custom {
      width: 100%;
      padding: 0px 30px;
      display: flex;
      justify-content: space-between;
      span {
        margin-top: -20px;
        cursor: pointer;
        position: relative;
        z-index: 9;
      }
    }
  }
}
.home-goods {
  padding: 100px 0px 90px;
  background: #cedbe1;
  position: relative;
  .parker {
    position: absolute;
    top: 45px;
    right: 45px;
    width: 68px;
  }
  h3 {
    padding: 0px 12px;
    font-family: "Work Sans";
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 33px;
    color: #876235;
  }
  .item-card {
    width: 100%;
    gap: 8px;
    .banner {
      width: 100%;
      height: 310px;
      border-radius: 8px 8px 0px 0px;
      overflow: hidden;
      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
    .details {
      padding: 9px;
      h4 {
        margin-bottom: 0px;
        font-family: "Work Sans";
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 180%;
        color: #876235;
      }
      h5 {
        font-family: "Work Sans";
        font-style: normal;
        font-weight: 500;
        margin-bottom: 10px;
        font-size: 15px;
        line-height: 180%;
        color: #876235;
        small {
          font-size: 11px;
        }
      }
      h6 {
        display: flex;
        align-items: center;
        gap: 6px;
        font-family: "Work Sans";
        font-style: normal;
        font-weight: 500;
        font-size: 11px;
        line-height: 180%;
        text-align: center;
        color: #876235;
        span {
          width: 16px;
          height: 16px;
          border-radius: 100px;
        }
      }
      p {
        font-family: "Noto Sans JP";
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 21px;
        color: #876235;
        margin-bottom: 0px;
      }
      u {
        font-family: "Noto Sans JP";
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 21px;
        color: #876235;
        margin-bottom: 12px;
      }
      .btn-primary {
        width: 100%;
        height: 29px;
        background: #ab6e6e;
        border-radius: 40px;
        padding: 5px 16px;
        display: flex;
        align-items: center;
        border: none;
        outline: none;
        gap: 32px;
        span {
          font-family: "Zen Kaku Gothic New";
          font-style: normal;
          font-weight: 700;
          font-size: 11px;
          line-height: 21px;
          color: #ffffff;
          flex: none;
          order: 0;
          flex-grow: 0;
        }
      }
    }
  }
  .slider-wrapper {
    #owl-slider-6 {
      .owl-dots {
        margin-top: 25px;
        display: flex;
        justify-content: center;
        gap: 6px;
      }

      .owl-dot span {
        height: 8px;
        width: 8px;
        background-color: #ababab;
        border-radius: 100%;
        margin: 0px;
        transition: background 0.3s;
      }

      .owl-dot.active span {
        background-image: url("../images/moon_pagenation.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
      }
    }
    .owl-nav-custom {
      width: 100%;
      padding: 0px 30px;
      display: flex;
      justify-content: space-between;
      span {
        margin-top: -20px;
        cursor: pointer;
        position: relative;
        z-index: 9;
      }
    }
  }
}

.message-section {
  padding: 90px 30px 90px;
  h3 {
    font-family: "Work Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 100%;
    color: #876235;
  }
  .video-card {
    position: relative;
    width: 100%;
    height: 317px;
    background: #c7d0d2;
    border-radius: 7px;
    overflow: hidden;
    margin-bottom: 20px;
    cursor: pointer;

    .banner {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .play {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 2;
    }
    .custom-close {
      position: absolute;
      top: 15px;
      right: 15px;
      z-index: 9999;
      background-color: rgba(0, 0, 0, 0.6);
      border-radius: 50%;
      padding: 8px;
    }
  }
  .content-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    p {
      width: 100%;
      text-align: center;
      font-family: "Zen Kaku Gothic New";
      font-style: normal;
      font-weight: 500;
      font-size: 13px;
      line-height: 180%;
      text-align: center;
      color: #876235;
      margin-bottom: 20px;
    }
    .btn-view-more {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 12px 10px;
      gap: 10px;
      width: 116px;
      height: 36px;
      background: #ffffff;
      border-radius: 30px;
      font-family: "Work Sans";
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      line-height: 100%;
      letter-spacing: 0.05em;
      color: #876235;
    }
    .options {
      margin-bottom: 65px;
      h3 {
        font-family: "Work Sans";
        font-style: normal;
        font-weight: 400;
        font-size: 25px;
        line-height: 100%;
        color: #876235;
      }
    }
  }
  .content-section {
    position: relative;

    .atukikun {
      position: absolute;
      bottom: -30px;
      left: 10px;
      width: 80px;
      opacity: 0;
      transform: translateY(10px);
      transition:
        opacity 0.4s ease,
        transform 0.4s ease;
      pointer-events: none;
    }

    &.show-atukikun {
      .atukikun {
        opacity: 1;
        transform: translateY(0);
        pointer-events: auto;
      }
    }
    .hide {
      height: 0;
      position: relative;
      overflow: hidden;
      transition: height 0.5s ease;
    }
  }
}

.category-section {
  padding: 0px 30px 90px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h4 {
    font-family: "Work Sans";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    color: #876235;
    margin-bottom: 20px;
  }

  .badge {
    width: 100%;
    height: 37px;
    background: #ffffff;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
    gap: 12px;
    cursor: pointer;
    span {
      font-family: "Work Sans";
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 18px;
      text-align: center;
      color: #876235;
    }
    small {
      font-family: "Work Sans";
      font-style: normal;
      font-weight: 500;
      font-size: 10px;
      line-height: 18px;
      text-align: center;
      color: #876235;
    }
  }
  .badge.active,
  .badge:hover {
    background: #cedbe1;
  }
  .line {
    margin-top: 70px;
  }
}

.coordinate {
  padding: 0px 0px 90px;
  position: relative;
  h3 {
    padding: 0px 12px;
    font-family: "Work Sans";
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 33px;
    color: #876235;
  }
  .item-card {
    width: 100%;
    gap: 8px;
    background: #fff;
    .banner {
      width: 100%;
      height: 310px;
      border-radius: 0px 0px;
      overflow: hidden;
      position: relative;
      .plus1 {
        position: absolute;
        top: 74px;
        right: 84px;
        z-index: 9;
        height: 28px;
        width: 28px;
      }
      .plus2 {
        position: absolute;
        bottom: 63px;
        left: 82px;
        z-index: 9;
        height: 28px;
        width: 28px;
      }
      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
    .details {
      padding: 13px;

      h6 {
        display: flex;
        align-items: center;
        gap: 6px;
        line-height: 18px;
        font-family: "Work Sans";
        font-style: normal;
        font-weight: 500;
        margin-bottom: 0px;
        font-size: 12px;
        text-align: center;
        color: #876235;
        img {
          width: 22px;
        }
      }
      small {
        font-family: "Work Sans";
        font-style: normal;
        font-weight: 500;
        font-size: 10.35px;
        line-height: 100%;
        letter-spacing: 0.05em;
        color: #876235;
      }
    }
  }
  .slider-wrapper {
    #owl-slider-7 {
      .owl-dots {
        margin-top: 25px;
        display: flex;
        justify-content: center;
        gap: 6px;
      }

      .owl-dot span {
        height: 8px;
        width: 8px;
        background-color: #ababab;
        border-radius: 100%;
        margin: 0px;
        transition: background 0.3s;
      }

      .owl-dot.active span {
        background-image: url("../images/moon_pagenation.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
      }
    }
    .owl-nav-custom {
      width: 100%;
      padding: 0px 30px;
      display: flex;
      justify-content: space-between;
      span {
        margin-top: -20px;
        cursor: pointer;
        position: relative;
        z-index: 9;
      }
    }
  }
}
.collection {
  padding: 0px 0px 90px;
  position: relative;
  .item-card {
    width: 100%;
    gap: 8px;
    background: #fff;
    .banner {
      width: 100%;
      height: 320px;
      border-radius: 0px 0px;
      overflow: hidden;
      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
  }
  .slider-wrapper {
    #owl-slider-8 {
      .owl-dots {
        margin-top: 25px;
        display: flex;
        justify-content: center;
        gap: 6px;
      }

      .owl-dot span {
        height: 8px;
        width: 8px;
        background-color: #ababab;
        border-radius: 100%;
        margin: 0px;
        transition: background 0.3s;
      }

      .owl-dot.active span {
        background-image: url("../images/moon_pagenation.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
      }
    }
    .owl-nav-custom {
      width: 100%;
      padding: 0px 30px;
      display: flex;
      justify-content: space-between;
      span {
        margin-top: -20px;
        cursor: pointer;
        position: relative;
        z-index: 9;
      }
    }
  }
}

.footer {
  width: 100%;
  background: #cedbe1;
  padding: 55px 80px 33px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .logo {
    height: 196px;
    margin-bottom: 32px;
  }
  .social-links {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 30px;
    img {
      height: 26px;
    }
  }
  .search {
    width: 100%;
    position: relative;
    margin-bottom: 20px;
    input {
      width: 100%;
      border-radius: 0px;
      border: none;
      border-bottom: 1px solid #876235;
      background: transparent;
      font-family: "Work Sans";
      font-style: normal;
      font-weight: 400;
      font-size: 12.1px;
      line-height: 22px;
      letter-spacing: 0.02em;
      color: #876235;
    }
    input::placeholder {
      font-family: "Work Sans";
      font-style: normal;
      font-weight: 400;
      font-size: 12.1px;
      line-height: 22px;
      letter-spacing: 0.02em;
      color: #876235;
    }
    .icon {
      position: absolute;
      top: 8px;
      right: 6px;
      z-index: 9;
    }
  }
  .nav-link {
    margin-bottom: 6px;
    font-family: "Work Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    letter-spacing: -0.05em;
    color: #876235;
  }
  p {
    font-family: "Zen Kaku Gothic New";
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #876235;
    margin-bottom: 32px;
  }
  span {
    font-family: "Work Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 11px;
    text-align: center;
    color: #876235;
  }
}
.top {
  position: fixed;
  width: 50px;
  height: 50px;
  bottom: 16px;
  right: 18px;
  z-index: 999;
  background: #c0bfbf;
  border-radius: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; /* TOP */
  p {
    font-family: "Work Sans";
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 150%;
    text-align: center;
    letter-spacing: 0.1em;
    color: #876235;
    margin-bottom: 0px;
  }
}
#customModal {
  .modal-dialog .modal-content {
    width: 375px;
    margin: auto;
    background: #ffffff;
    border-radius: 12px; /* optional but recommended */
  }
  .custom-close {
    position: absolute;
    top: 10px;
    right: 23px;
    z-index: 10;
  }
  .modal-body {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 89px 25px;
    p {
      font-family: "Zen Kaku Gothic New";
      font-style: normal;
      font-weight: 500;
      font-size: 13px;
      line-height: 220%;
      text-align: center;
      letter-spacing: 0.05em;
      color: #876235;
      margin-bottom: 0px;
    }
  }
  .custom-close {
    padding: 0px;
  }
}
#customModal2 {
  .modal-dialog .modal-content {
    width: 375px;
    padding: 54px 25px;
    margin: auto;
    background: #cedbe1;
    border-radius: 0px; /* optional but recommended */
  }
  .custom-close {
    position: absolute;
    top: 10px;
    right: 23px;
    z-index: 10;
  }
  .modal-body {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 447px;
    overflow-y: scroll;
    .banner {
      width: 100%;
      height: 185px;
      margin-bottom: 22px;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }
    p {
      font-family: "Zen Kaku Gothic New";
      font-style: normal;
      font-weight: 500;
      font-size: 13px;
      line-height: 220%;
      text-align: center;
      letter-spacing: 0.05em;
      color: #876235;
      margin-bottom: 0px;
    }
  }
  .custom-close {
    padding: 0px;
  }
}

.pop-up-section span:hover {
  transform: scale(1.05);
}

.sm-sticky {
  position: fixed;
  max-width: 375px;
  width: 100%;
  top: 0px;
  z-index: 999999999999;
}

.top {
  display: inline-flex;
  animation: zoomPulse 2s ease-in-out infinite;
  transform-origin: center;
}

@keyframes zoomPulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.offcanvas {
  max-width: 375px;
  margin: auto;
  .logo {
    height: 40px;
  }
  /* Search */
  .search {
    width: 260px;
    position: relative;
    margin: 0px auto;
    margin-bottom: 20px;
    input {
      width: 100%;
      border-radius: 0px;
      border: none;
      border-bottom: 1px solid #876235;
      background: transparent;
      font-family: "Work Sans";
      font-style: normal;
      font-weight: 400;
      font-size: 12.1px;
      line-height: 22px;
      letter-spacing: 0.02em;
      color: #876235;
    }
    input::placeholder {
      font-family: "Work Sans";
      font-style: normal;
      font-weight: 400;
      font-size: 12.1px;
      line-height: 22px;
      letter-spacing: 0.02em;
      color: #876235;
    }
    .icon {
      position: absolute;
      top: 8px;
      right: 6px;
      z-index: 9;
    }
  }

  /* Account */
  .account {
    text-align: center;
  }

  .account a {
    color: $primary;
    font-family: "Work Sans";
    text-decoration: none;
    font-size: 14px;
    padding: 4px 8px;
  }
  .account a:hover {
    background: $primary;
    color: #fff;
  }
  /* Divider */
  .divider {
    height: 1px;
    background: $primary;
    margin: 10px 0;
  }
  .menu-section {
    display: flex;
    flex-direction: column;
    .submenu a {
      font-family: "Work Sans";
      padding-left: 20px;
    }
  }
  .category-toggle {
    width: 100%;
    justify-content: space-between;
    display: flex;
    align-items: center;
  }
  /* Menu links */
  .menu-section a {
    color: $primary;
    text-decoration: none;
    padding: 5px 10px;
    font-size: 14px;
    font-family: "Work Sans";
    display: flex;
    align-items: center;
  }
  .menu-section a:hover {
    background: $primary;
    color: #fff;
  }

  .menu-section small {
    display: block;
    font-family: "Work Sans";
    font-size: 11px;
    opacity: 0.8;
  }

  /* Category */
  .category {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
    cursor: pointer;
  }

  /* Social */
  .social {
    text-align: center;
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .social p {
    margin-bottom: 15px;
    font-family: "Work Sans";
    font-weight: 500;
    font-size: 14px;
  }

  .social-links {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 30px;
    margin: auto;
    img {
      height: 26px;
    }
  }
}

#videoModal {
  .modal-content {
    border-radius: 0px !important;
    background: transparent !important;
  }
  .btn-close {
    position: absolute;
    top: -30px;
    right: 0px;
  }
}
